@media (min-width:320px) and (max-width:991px){
    /* body {
        background-color: yellow;
    } */


    header.header .navbar-nav .dropdown-menu {
        left: 0% !important;
     
    }

    header.header .navbar-nav .dropdown-menu {
    transform: translate(0%, 0%) !important;
    position: absolute;
    left: 0%;
    right: 0%;
    }
    .header-top-contact ul {
        flex-wrap: wrap;
    }

}

@media (min-width:320px) and (max-width:767px){
    .inspiration-left-side {
        margin-bottom: 20px;
        width: 100%;
    }
    .inspiration-right-side {
        width: 100%;
    }
    .inspiration-img-box {
        padding: 33px 15px;
    }
    .inspiration-content {
        width: 100%;
        padding-top: 20px;
    }
    .inspiration-content h5 {
        font-size: 17px;
        line-height: 26px;
        color: #1b4774;
    }
    .salient-features ul {
        /* list-style: none; */
        line-height: 28px;
        margin-left: 20px;
        font-size: 16px;
        margin-top: 20px;
    }
    .salient-features {
        padding: 15px;
    }
    .heading_section {
        padding-bottom: 26px;
    }
    section.chdp-sec {
        margin-top: 120px;
    }

    header.header li.dropdown-heading {
        min-width: 140px;
    }

    
    .dropdown-menu.sub-menu-list {
        min-width: 300px !important;
        display: flex;
        flex-wrap: wrap;
        width: 100% !important;
    }




}

@media (min-width:320px) and (max-width:690px){
    header.header nav .header-main .header-top-contact ul li {
        padding: 10px 25px;
        min-width: 210px;
    }
    

}

@media (min-width:320px) and (max-width:575px){
 
    header.header .dropdown-menu.sub-menu-list {
        display: flex!important;
        column-gap: 10px;
        row-gap: 10px;
    }

    header.header .navbar-nav .dropdown-menu {
        height: 242px;
        overflow: scroll;
    }
    .dropdown-menu.sub-menu-list ul li a {
        text-decoration: none;
        color: #224d78;
        line-height: 20px;
    }
}

@media (min-width:768px) and (max-width:991px){
    .inspiration-right-side {
        width: 43%;
    }
    .inspiration-left-side {
        width: 43%;
    }
    .inspiration-img-box {
        padding: 60px 30px;
    }

    .inspiration-content {
        width: 91%;
        text-align: center;
        padding-top: 40px;
    }
  /* .header-top-contact ul {
        flex-wrap: wrap;
    } */


    header.header .dropdown-menu{
        min-width: 10rem;
    }
 
}
@media (min-width:768px) and (max-width:1024px){
    /* body {
        background-color: red;
    } */

    .title-head{
        font-size: 30px;
    }
    section.hero-section {
        margin-top: calc(var(--header-height) + 30px);
    }

    section.director-sc.sec-top-bottom:before {
        right: 4%;
        width: 93%;

    }
    .profile-box:after {
        right: 4%;
    }
    section.director-sc2:before {
        left: 3%;
        width: 93%;

    }
    main .director-sc2 .profile-box2::after {
        left: 3%;
    }

    .col-lg-4.col-md-12.image-outer-box .img-box {
        width: 220px;
        height: 220px;
    }



    /* our team management  */
    /* section.director-sc.director-mt.sec-top-bottom {
        margin-top: 30px;
        background: #f9f8f9;
    }
    main .director-sc.director-mt.sec-top-bottom .profile-box {
        padding: 20px 0px;
    } */
    /* .col-lg-4.col-md-12.image-outer-box .img-box {
            width: 220px;
            height: 220px;
           
    } */

  /* .image-outer-box {
        justify-content: left;
    }
     */
    /* .col-lg-7.col-md-12.ms-5.content-box {
        margin-left: 0px !important;
    } */
    /* main .director-sc2 .profile-box2 .container .row .image-outer-box {
        justify-content: left;
    } */

    /* section.director-sc2 {
        padding: 0px 0px; 
    }
    
    main .director-sc.sec-top-bottom .profile-box {
        padding: 0px;
    }
    */
    main .director-sc2 .profile-box2 .container .row .image-outer-box .img-box {
        width: 220px;
        height: 220px;
    }
    .col-lg-7.col-md-12.content-box h1.title-head {
        text-align: center;
    }
    .col-lg-7.col-md-12.content-box h3.sub-title {
        text-align: center;
    }
   
}
@media (min-width:1024px) and (max-width:1400px){
    .carousel-inner {
        height: 650px;
    }

    
    main .director-sc2 .profile-box2::after {     
        left: 7%;
    }
    section.director-sc2:before {
        left: 7%;
        width: 85%;
    }
    .profile-box:after {       
        right: 8%;

    }
  
    section.director-sc.sec-top-bottom:before {
        right: 8%;
        width: 85%;
    }

   

}

@media (min-width: 320px) and (max-width: 767px) {

    .title-head{
        font-size: 26px;
    }



    section.director-sc.director-mt.sec-top-bottom {
        margin-top: 30px;
        background: #f9f8f9;
    }
    main .director-sc.director-mt.sec-top-bottom .profile-box {
        padding: 20px 0px;
    }
    .col-lg-4.col-md-12.image-outer-box .img-box {
            width: 180px;
            height: 180px;
           
    }

  /* .image-outer-box {
        justify-content: left;
    }
     */
    .col-lg-7.col-md-12.ms-5.content-box {
        margin-left: 0px !important;
    }
    /* main .director-sc2 .profile-box2 .container .row .image-outer-box {
        justify-content: left;
    } */

    section.director-sc2 {
        padding: 0px 0px; 
    }
    
    main .director-sc.sec-top-bottom .profile-box {
        padding: 0px;
    }
   
    main .director-sc2 .profile-box2 .container .row .image-outer-box .img-box {
        width: 180px;
        height: 180px;
    }
    .col-lg-7.col-md-12.content-box h1.title-head {
        text-align: center;
    }
    .col-lg-7.col-md-12.content-box h3.sub-title {
        text-align: center;
    }
    
    .col-lg-4.col-md-12.image-outer-box .img-box {
        width: 220px;
        height: 220px;
    }

    .salient-features ul {
        column-count: 1;
    }

    .salient-features {
        background: url(../image/bg.png);
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }

}

@media (min-width: 1400px){


}