:root {
  --color-primary: #f1a501;
  --color-secondary: #bd771b;
  --color-accent: #521683;
  --text-primary: #333333;
  --text-secondary: #ffffff;
  --header-height: 80px;
  --primary-background-color: #f2f2f2;
  --secondary-background-color: #ccc;
  --menu-font-color: #1b4774;
  --active-color: #1b4774;
  --heading-font: 40px;
  --text-content-color: #647495;
}
body {
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
}
ul,
li {
  padding: 0px;
  margin: 0px;
}
.sec-top-bottom {
  padding: 100px 0px;
  position: relative;
}
.title-head {
  font-size: var(--heading-font);
  color: var(--active-color);
  padding-bottom: 10px;
  margin-bottom: 0px;
}
.sub-title {
  font-size: 18px;
  color: #54595f;
  padding-bottom: 10px;
}
.content {
  color: var(--text-content-color);
  font-size: 16px;
  line-height: 24px;
}
.heading_section {
  padding-bottom: 50px;
}
i {
  color: #f1a501;
}
.franchise-enquriy-from {
  padding: 15px;
  background: linear-gradient(to bottom right, #2667b3 0, #4d96ec 70%);
  border-radius: 10px;
  background: linear-gradient(to right, #36415e 0, #1b1f30 100%);
}
.franchise-enquriy-from h4 {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}
header.header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 3;
  background-color: var(--text-secondary);
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
  webkit-box-shadow: 4px 4px 30px 0 rgba(42, 67, 113, 0.15);
  -moz-box-shadow: 4px 4px 30px 0 rgba(42, 67, 113, 0.15);
  box-shadow: 4px 4px 30px 0 rgba(42, 67, 113, 0.15);
}
header.header nav.navbar {
  padding-top: 0px;
}
header.header nav {
  border-top: solid 5px;
  border-color: var(--color-primary);
}
header.header nav div.container a.navbar-brand.header-logo {
  width: 150px;
  height: auto;
}
header.header nav div.container a.navbar-brand.header-logo img {
  width: 100%;
  height: 100%;
}
header.header nav .header-main ul.navbar-nav.ms-auto.mb-2.mb-lg-0 {
  justify-content: end;
}
header.header nav .header-main .header-top-contact ul {
  list-style: none;
  justify-content: end;
  display: flex;
}
header.header nav .header-main .header-top-contact ul li {
  padding: 10px 25px;
}
header.header nav .header-main .header-top-contact ul li a {
  text-decoration: none;
  color: #63686d;
  font-family: 'Outfit';
  font-size: 16px;
  font-weight: 500;
  line-height: 0px;
}
header.header nav .header-main .header-top-contact ul li.head-franchies-btn {
  background: var(--color-primary);
  text-transform: uppercase;
  min-width: 255px;
}
header.header nav .header-main .header-top-contact ul li.head-franchies-btn a {
  font-size: 16px;
  color: var(--text-secondary);
  font-weight: 500;
}
header.header nav .header-top-bottom {
  padding: 10px 0px;
}
header.header nav .header-top-bottom ul li a.nav-link {
  font-size: 16px;
  font-weight: 500;
  color: var(--menu-font-color);
}
header.header nav .header-top-bottom ul li a.nav-link.active {
  color: var(--active-color);
}
header.header .dropdown:hover .dropdown-menu {
  display: block;
  background: #ffff;
}
header.header .dropdown-item:focus,
header.header .dropdown-item:hover {
  background-color: #f1a501;
  color: #fff !important;
}
header.header .dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 65rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
header.header .dropdown-menu.sub-menu-list {
  display: flex!important;
  column-gap: 25px;
  row-gap: 25px;
}
header.header .dropdown-menu.sub-menu-list .dropdown-menus {
  display: inline-flex;
  flex-direction: column;
  padding: 0;
  flex: 1;
  list-style: none;
}
header.header .navbar-nav li:hover > .dropdown-menu {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
header.header .navbar-nav .dropdown-menu {
  padding: 25px!important;
  transform: translate(-50%, 0%) !important;
  position: absolute;
  left: -50%;
  right: -50%;
  list-style: none;
  margin: 0;
  z-index: 2;
  font-size: 14px;
  line-height: 26px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 5px 20px -6px #00000061;
  -webkit-box-shadow: 0 5px 20px -6px #00000061;
  -moz-box-shadow: 0 5px 20px -6px #ccc;
  transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  top: 101%;
  background: #fff;
  color: #fff;
}
header.header .dropdown-item {
  color: #1b4774;
}
header.header li.dropdown-heading {
  color: #f1a501;
  font-size: 18px;
  padding-left: 13px;
  margin-bottom: 5px;
}
header.header ul.dropdown-menu.menu2 {
  width: 100% !important;
  min-width: 15rem !important;
  padding: 10px !important;
  transform: translate(0%, 0%) !important;
}
section.hero-section {
  margin-top: calc(var(--header-height) + 0px);
}
section.hero-section #carouselExample.carousel.slide {
  width: 100%;
  height: 100%;
}
section.hero-section #carouselExample.carousel.slide .carousel-inner {
  width: 100%;
  height: 100%;
}
section.hero-section #carouselExample.carousel.slide .carousel-inner .carousel-item.active {
  width: 100%;
  height: 100%;
}
section.hero-section #carouselExample.carousel.slide .carousel-inner .carousel-item.active img {
  width: 100%;
  height: 100%;
}
section.hero-section .hero_nav_btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  column-gap: 5px;
}
section.hero-section .hero_nav_btn button {
  position: unset!important;
  width: 45px;
  background: #382d71;
  height: 45px;
  border-radius: 3px;
}
section.hero-section .hero_nav_btn {
  bottom: 45px;
}
section.hero-section .carousel-indicators {
  display: none;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 810px;
}
.carousel-item {
  height: 100%;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.hero-section {
  margin-top: calc(var(--header-height) + 35px);
}
#sdt-eduction {
  background: var(--primary-background-color);
  position: relative;
}
#sdt-eduction .container .row .col-md-7 h1 {
  font-size: var(--heading-font);
  color: var(--active-color);
}
#sdt-eduction .container .row .world-class .card {
  background-color: transparent;
  border: none;
  border-radius: 0px;
}
#sdt-eduction .sdt-4block {
  background: var(--secondary-background-color);
  margin: 0px;
  border-radius: 5px;
}
#sdt-eduction .franchise-enquriy-from {
  padding: 15px;
  background: linear-gradient(to bottom right, #2667b3 0, #4d96ec 70%);
  border-radius: 10px;
  background: linear-gradient(to right, #36415e 0, #1b1f30 100%);
}
#sdt-eduction .franchise-enquriy-from h4 {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}
section.franchise-programs-sec .container .row .franchise-program {
  text-align: center;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  height: 100%;
}
section.franchise-programs-sec .container .row .franchise-program h1 {
  color: #252a6a;
  font-size: 26px;
  padding: 0px 0px;
  margin-top: 17px;
}
section.franchise-programs-sec .container .row .franchise-program p {
  color: var(--text-content-color);
}
h1 {
  color: #252a6a;
  font-size: 26px;
  padding: 0px 0px;
  margin-top: 17px;
}
.transition-all {
  -webkit-transition: all 0.2s linear 0.02s;
  -o-transition: all 0.2s linear 0.02s;
  -moz-transition: all 0.2s linear 0.02s;
  transition: all 0.2s linear 0.02s;
}
.assignfixedwidth {
  max-width: 1200px;
  margin: 0 auto;
}
.carousel-custom-main {
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: transparent;
  font-size: 28px;
}
a.owl-element {
  text-decoration: none;
  color: #333;
}
.owl-element span {
  display: block;
  padding: 60px 60px;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  line-height: 40px;
  margin-top: 5%;
  transition: all 0.4s ease;
  border: 1px solid transparent;
  background-color: #efefef;
}
.owl-item.center > .owl-element span {
  width: 180px;
  height: 180px;
  line-height: 65px;
  margin-top: 0%;
  background-color: #ff6633;
  color: #ffffff;
}
.story-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
  border: solid 3px #f1a501;
}
.story-content {
  color: #1b4774;
  padding-top: 30px;
}
.owl-item {
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.owl-item {
  height: 400px;
  border: solid 1px #1b4774;
}
.owl-nav button {
  /* font-size: 59px; */
  width: 30px;
  height: 30px;
  background: #f1a501 !important;
}
.owl-nav button span {
  color: #fff;
  font-size: 40px;
  margin-top: -21px;
  display: block;
}
.owl-dots {
  display: none;
}
#newsletter .row.newsletter-part {
  background: linear-gradient(85.36deg, #A955DB 0.85%, #FF8648 101.42%);
  border-radius: 15px;
  padding: 10px 50px;
  background: var(--primary-background-color);
}
footer {
  background: #EAECEE;
}
footer .container .row .foorter-about ul li {
  display: inline-flex;
  list-style: none;
  margin-right: 10px;
}
footer .container .row .foorter-about ul li span {
  width: 35px;
  height: 35px;
  background: linear-gradient(to right, #36415e 0, #1b1f30 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
footer .container .row .foorter-about ul li span a {
  text-decoration: none;
}
footer .container .row .foorter-about ul li span a i {
  font: 30px;
  color: #fff;
}
footer a.footer_logo {
  width: auto;
  height: 70px;
  display: inline-block;
}
footer a.footer_logo img {
  width: auto;
  height: 100%;
}
footer .footer-links h5 {
  padding-top: 86px;
}
footer .footer-links ul {
  list-style: none;
}
footer .footer-links ul li {
  line-height: 30px;
}
footer .footer-links ul li a {
  text-decoration: none;
  color: #333;
}
footer .footer-links.contact h5 {
  padding-top: 86px;
}
footer .footer-links.contact ul {
  list-style: none;
}
footer .footer-links.contact ul li {
  position: relative;
  padding-left: 25px;
  line-height: 30px;
}
footer .footer-links.contact ul li span {
  position: absolute;
  top: 1px;
  left: 0px;
}
footer .footer-links.contact ul li span a {
  text-decoration: none;
  color: #333;
}
footer .footer-map ul li {
  list-style: none;
}
footer .footer-map ul li iframe {
  width: 100%;
  height: 330px;
  padding-top: 86px;
}
footer .footer-menu {
  padding-bottom: 20px;
}
footer .footer-menu ul li {
  display: inline-block;
  margin-right: 15px;
}
footer .footer-menu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}
footer .footer-links.footer-featured-links ul {
  columns: 2;
}
footer .footer-links.footer-featured-links {
  padding-left: 50px;
}
footer .social-handles h5 {
  padding-top: 86px;
}
footer .social-handles ul li {
  list-style: none;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: white;
  margin-bottom: 5px;
  border-radius: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 13px;
  margin-top: 10px;
}
.footer-copy-right {
  padding: 15px;
  background: #b5b5b5;
}
.footer-copy-right h6 {
  margin-bottom: 0px;
  color: #333;
}
.footer-copy-right .bottom_footer_link {
  text-align: end;
}
.footer-copy-right .bottom_footer_link a {
  text-decoration: none;
  margin-left: 20px;
  color: #333;
  font-weight: 500;
}
main {
  margin-top: 96px;
}
main section.contact-banner div.container div.row div.col-md-5 div.map-form {
  margin: 0px 40px 0px 20px;
  border: solid 1px #ccc;
  padding: 40px 49px;
  box-shadow: -1px 3px 15px 0 rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  border: 1px solid #eaecef;
}
main section.contact-banner div.container div.row div.col-md-5 div.map-form input {
  background: #f1f1f5 !important;
  border-radius: 7px !important;
  height: 45px;
  padding: 14px !important;
  border: solid 1px #ddd !important;
}
main section.contact-banner div.container div.row div.col-md-5 div.map-form textarea {
  border: solid 1px #ddd;
  background: #f1f1f5 !important;
  border-radius: 7px !important;
}
main section.contact-banner div.container div.row .school-map {
  width: 100%;
  height: 60%;
}
main section.contact-banner div.container div.row .school-map iframe {
  width: 100%;
  height: 100%;
}
main section.contact-info div.row div.contact-info-inner {
  text-align: center;
}
main section.contact-info div.row div.contact-info-inner .icon-box {
  display: flex;
  justify-content: center;
}
main section.contact-info div.row div.contact-info-inner .icon-box .shadow-icon {
  width: 75px;
  height: 75px;
  background: #f1a501;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 6px 5px -1px rgba(241, 165, 1, 0.26);
}
main section.contact-info div.row div.contact-info-inner .icon-box .shadow-icon span i {
  font-size: 26px;
  color: #fff;
}
main section.conatact-hero-banner.sec-top-bottom {
  position: relative;
}
main section.conatact-hero-banner.sec-top-bottom {
  background-image: url(https://www.bvmsolution.com/images/contact-bg-banner.webp);
  background-size: 100%;
  background-position: center;
  padding: 180px 0px;
}
main section.conatact-hero-banner.sec-top-bottom:before {
  content: '';
  top: 0px;
  width: 100%;
  z-index: 1;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #191a1c94;
}
main .container {
  position: relative;
  z-index: 1;
}
main h1.text-white {
  font-weight: 600;
}
main h6.banner-text {
  color: #fff;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 20px;
}
section .container .row .carrer-form {
  margin-top: -150px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
section .container .row .carrer-form .CareerApply {
  margin-top: 5px;
  color: var(--active-color);
}
.about-page-banner img {
  width: 100%;
  height: 100%;
}
section.school-about .video-wrapper {
  width: 100%;
  height: 32  0px;
}
section.school-about .video-wrapper video {
  width: 100%;
  height: 320px;
  object-fit: cover;
  box-shadow: rgba(27, 71, 116, 0.31) 0px 15px 25px, rgba(28, 72, 117, 0.32) 0px 5px 10px;
  border-radius: 5px;
  overflow: hidden;
}
.aboutus-page-content {
  margin-top: 160px;
}
.content-box h5 {
  margin-top: 30px;
  color: #f1a501;
  font-weight: 500;
}
main section.management-team-hero.sec-top-bottom {
  position: relative;
}
main section.management-team-hero.sec-top-bottom {
  background-image: url(../image/about-banner.jpg );
  background-size: 100%;
  background-position: center;
  padding: 180px 0px;
}
main section.management-team-hero.sec-top-bottom:before {
  content: '';
  top: 0px;
  width: 100%;
  z-index: 1;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #191a1c94;
}
main .container {
  position: relative;
  z-index: 1;
}
main h1.text-white {
  font-weight: 600;
}
main h6.banner-text {
  color: #fff;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 20px;
}
main .director-sc.director-mt.sec-top-bottom {
  margin-top: 100px;
  background: #f9f8;
}
main .director-sc.director-mt.sec-top-bottom .profile-box {
  background: #f9f8f9;
  padding: 60px 0px;
  position: relative;
}
main .director-sc.director-mt.sec-top-bottom .profile-box .container row .image-outer-box {
  text-align: center;
  display: flex;
  justify-content: center;
}
main .director-sc.director-mt.sec-top-bottom .profile-box .container row .image-outer-box .img-box {
  border-radius: 50%;
  overflow: hidden;
  width: 280px;
  height: 280px;
  border: solid 2px #1145d5;
}
main .director-sc.director-mt.sec-top-bottom .profile-box .container row .image-outer-box .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .director-sc2 .profile-box2 {
  position: relative;
  background: #f9f8f9;
  position: 50px 0px;
  padding: 50px 0px;
}
main .director-sc2 .profile-box2 .container .row {
  flex-direction: row-reverse;
}
main .director-sc2 .profile-box2 .container .row .image-outer-box {
  text-align: center;
  display: flex;
  justify-content: center;
}
main .director-sc2 .profile-box2 .container .row .image-outer-box .img-box {
  border-radius: 50%;
  overflow: hidden;
  width: 280px;
  height: 280px;
  border: solid 2px #1145d5;
}
main .director-sc2 .profile-box2 .container .row .image-outer-box .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .director-sc2 .profile-box2::after {
  content: '';
  position: absolute;
  left: 15%;
  width: 50px;
  height: 100%;
  background-color: #382d71;
  top: 0;
}
main .director-sc2::before {
  content: '';
  position: absolute;
  left: 0px;
  width: 84%;
  height: 100%;
  background-color: #382d71;
  top: 0px;
}
main .director-sc.sec-top-bottom {
  position: relative;
}
main .director-sc.sec-top-bottom .profile-box {
  background: #f9f8f9;
  padding: 60px 0px;
  position: relative;
}
main .director-sc.sec-top-bottom .profile-box .container row .image-outer-box {
  text-align: center;
  display: flex;
  justify-content: center;
}
main .director-sc.sec-top-bottom .profile-box .container row .image-outer-box .img-box {
  border-radius: 50%;
  overflow: hidden;
  width: 280px;
  height: 280px;
  border: solid 2px #1145d5;
}
main .director-sc.sec-top-bottom .profile-box .container row .image-outer-box .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .director-sc.sec-top-bottom::before {
  content: '';
  position: absolute;
  right: 0;
  width: 84%;
  height: 100%;
  background-color: #382d71;
  top: 0;
}
section.director-sc.director-mt.sec-top-bottom {
  margin-top: 100px;
  background: #f9f8f9;
}
section.director-sc.sec-top-bottom {
  padding: 50px 0px;
}
section.director-sc.sec-top-bottom:before {
  content: '';
  position: absolute;
  right: 12%;
  width: 73%;
  height: 100%;
  background-color: #382d71;
  top: 0;
}
.profile-box {
  background: #f9f8f9;
  padding: 60px 0px;
  position: relative;
}
.profile-box:after {
  content: '';
  position: absolute;
  right: 12%;
  width: 50px;
  height: 100%;
  background-color: #382d71;
  top: 0;
}
section.director-sc2 {
  position: relative;
  background: #f9f8f9;
  padding: 50px 0px;
  margin: -50px 0px;
}
section.director-sc2:before {
  content: '';
  position: absolute;
  left: 15%;
  width: 73%;
  height: 100%;
  background-color: #382d71;
  top: 0px;
}
.img-box {
  border-radius: 50%;
  overflow: hidden;
  width: 280px;
  height: 280px;
  border: solid 2px #1145d5;
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-outer-box {
  text-align: center;
  display: flex;
  justify-content: center;
}
section.mission-hero {
  background-image: url(../image/about-banner.jpg );
  background-size: 100%;
  background-position: center;
  padding: 180px 0px;
  position: relative;
}
section.mission-hero::before {
  content: '';
  top: 0px;
  width: 100%;
  z-index: 1;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #191a1c94;
}
main {
  /* code */
}
main section.our-achivement-hero-banner.sec-top-bottom {
  position: relative;
}
main section.our-achivement-hero-banner.sec-top-bottom {
  background-image: url(../image/banner2.jpg);
  background-size: 100%;
  background-position: center;
  padding: 180px 0px;
}
main section.our-achivement-hero-banner.sec-top-bottom:before {
  content: '';
  top: 0px;
  width: 100%;
  z-index: 1;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #191a1c94;
}
main .container {
  position: relative;
  z-index: 1;
}
main h1.text-white {
  font-weight: 600;
}
main h6.banner-text {
  color: #fff;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 20px;
}
main .btn-text-expander {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 14px;
  border-radius: 3px;
  background-color: #665aef;
  color: #fff;
}
main .text-expander {
  height: 70px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
main .text-expander.active {
  display: inherit;
  height: auto;
}
main section.sport-hero-banner.sec-top-bottom {
  position: relative;
}
main section.sport-hero-banner.sec-top-bottom {
  background-image: url(../image/banner2.jpg);
  background-size: 100%;
  background-position: center;
  padding: 180px 0px;
}
main section.sport-hero-banner.sec-top-bottom:before {
  content: '';
  top: 0px;
  width: 100%;
  z-index: 1;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #191a1c94;
}
main .container {
  position: relative;
  z-index: 1;
}
main h1.text-white {
  font-weight: 600;
}
main h6.banner-text {
  color: #fff;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 20px;
}
main {
  /* code */
}
main section.our-achivement-hero-banner.sec-top-bottom {
  position: relative;
}
main section.our-achivement-hero-banner.sec-top-bottom {
  background-image: url(../image/academic-banner.jpg);
  background-size: 100%;
  background-position: center;
  padding: 180px 0px;
}
main section.our-achivement-hero-banner.sec-top-bottom:before {
  content: '';
  top: 0px;
  width: 100%;
  z-index: 1;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #191a1c94;
}
main .container {
  position: relative;
  z-index: 1;
}
main h1.text-white {
  font-weight: 600;
}
main h6.banner-text {
  color: #fff;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 20px;
}
main .affiliation-sec {
  background-color: var(--primary-background-color);
}
main .affiliated-img {
  text-align: end;
}
main .btn-text-expander {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 14px;
  border-radius: 3px;
  background-color: #665aef;
  color: #fff;
}
main .text-expander {
  height: 70px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
main .text-expander.active {
  display: inherit;
  height: auto;
}
section.inspiration.sec-spacing {
  margin-top: 180px;
}
.inspiration-img-box {
  display: flex;
  padding: 116px 60px;
  justify-content: space-around;
  background: #1b477421;
  margin-bottom: 100px;
  border-radius: 10px;
  flex-wrap: wrap;
}
.inspiration-right-side {
  width: 40%;
}
.inspiration-left-side {
  width: 40%;
}
.inspiration-content {
  width: 80%;
  text-align: center;
  padding-top: 60px;
}
.inspiration-content h5 {
  font-size: 25px;
  line-height: 38px;
  color: #1b4774;
}
.inspiration-left-side .card-body h5.card-title,
.inspiration-right-side .card-body h5.card-title {
  font-size: 30px;
  color: #f1a501;
}
.inspiration-img-box .card-body {
  text-align: center;
}
section.chdp-sec {
  margin-top: 180px;
}
.salient-features {
  background: #f1a50147;
  padding: 30px 60px;
  border-radius: 15px;
}
.salient-features ul {
  /* list-style: none; */
  line-height: 20px;
  margin-left: 30px;
  font-size: 16px;
  margin-top: 20px;
}
.Requirements {
  margin: 35px 0px 60px;
}
.Requirements ul {
  list-style: none;
  line-height: 30px;
}
.Requirements ul li sapn {
  font-weight: 600;
  padding-right: 5px;
}
#63686d .school-content p {
  color: #63686d;
}
.pro-logo {
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
}
.pro-logo img {
  width: auto;
  height: 100%;
}
span.text-change2 {
  color: #54595f;
}
section.franchise-programs-sec .container .row .franchise-program p {
  color: #54595f;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: end;
  }
}
section.sec-top-bottom.franchise-programs-sec.aos-init.aos-animate {
  padding-top: 50px;
}
section.franchise-programs-sec.aos-init.aos-animate {
  /* padding: 50px; */
  padding-top: 50px;
  padding-bottom: 20px;
}
section.every-day-story.pt-0 {
  padding-bottom: 60px;
}
.school-img-box {
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.school-img-box img {
  width: auto;
  height: 100%;
  object-fit: contain;
}
section.affiliation-sec {
  padding-bottom: 80px;
}
.school-program-logo-list {
  display: flex;
}
.school-program-logo-list .item {
  margin-right: 30px;
  width: 300px;
  height: 150px;
  border: solid 2px #f1a501;
  /* overflow: hidden; */
  border-radius: 5px;
}
.story-content {
  color: #575c62;
  padding-top: 30px;
}
.col-lg-4.col-md-12.image-outer-box h3 {
  /* color: red; */
}
.col-lg-4.col-md-12.image-outer-box h1 {
  font-size: 24px;
  display: block !important;
  width: 100%;
  text-align: center;
  padding-bottom: 0px;
}
.col-lg-4.col-md-12.image-outer-box {
  display: flex;
  flex-wrap: wrap;
}
.header-top-contact ul li span.header-line {
  position: absolute;
  right: 0px;
  color: #f1a501;
}
.header-top-contact ul li {
  position: relative;
}
.dropdown-menu.sub-menu-list ul li a {
  text-decoration: none;
  color: #224d78;
  line-height: 35px;
}
.dropdown-menu.sub-menu-list ul li a:hover {
  background: #f1a501;
  display: block;
  color: #fff;
  line-height: 35px;
}
li.dropdown-heading {
  padding-left: 0px !important;
}
.University-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.University-logo {
  width: 300px;
  height: 150px;
  overflow: hidden;
  padding: 20px;
}
section.international-university-sec {
  padding-bottom: 50px;
}
section.mission {
  padding-top: 60px;
}
.inspiration-box-img {
  height: 550px;
}
.inspiration-box-img img {
  width: 100%;
  height: 100%;
}
.salient-features ul li {
  line-height: 25px;
}
.salient-features {
  background: #eaecee;
  padding: 60px;
  border-radius: 15px;
}
.contact-info-inner a {
  text-decoration: none;
  color: #63686d;
}
.contact-info-inner p {
  text-decoration: none;
  color: #63686d;
}
.salient-features:before {
  content: "";
  background-color: #1b47741c;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  z-index: 0 !important;
}
.salient-features {
  position: relative;
}
.salient-features {
  background: url(../image/bg.png);
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.support-box h3 {
  font-size: 22px;
}
.support-box {
  background: #fff;
  padding: 15px;
  border-radius: 11px;
  border-top: solid 2px #f1a501;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  height: 100%;
}
.support-box h3 {
  font-size: 16px;
  line-height: 24px;
}
.row.aos-init.aos-animate {
  padding-right: 40px;
}
.col-md-4.support-box-main {
  margin-bottom: 20px;
}
li.span-remove span:nth-child(2) {
  display: none;
}
section.director-sc.sec-top-bottom:before {
  content: '';
  position: absolute;
  right: 12%;
  width: 73%;
  height: 100%;
  background-color: #382d71;
  top: 0;
  display: none;
}
.profile-box:after {
  content: '';
  position: absolute;
  right: 12%;
  width: 50px;
  height: 100%;
  background-color: #382d71;
  top: 0;
  display: none;
}
section.director-sc2:before {
  content: '';
  position: absolute;
  left: 15%;
  width: 73%;
  height: 100%;
  background-color: #382d71;
  top: 0px;
  display: none;
}
main .director-sc2 .profile-box2::after {
  content: '';
  position: absolute;
  left: 15%;
  width: 50px;
  height: 100%;
  background-color: #382d71;
  top: 0;
  display: none;
}
.salient-features ul {
  column-count: 2;
}
.salient-features::before {
  content: "";
  background-color: rgba(166, 200, 235, 0.3);
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  z-index: 0 !important;
}
.fra-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.fra-img {
  width: 100%;
  height: 669px;
}
.bottom_footer_link {
  display: none;
}
.inter-school-logo {
  height: 115px;
  width: auto;
}
.inter-school-logo {
  height: 115px;
  width: auto;
}
