:root {
  --color-primary: #16a085;
  --color-secondary: #bd771b;
  --color-accent: #521683;
  --text-primary: #333333;
  --text-secondary: #ffffff;
  --header-height: 80px;
  --primary-background-color: #f2f2f2;
  --secondary-background-color: #ccc;
  --menu-font-color: #2b2b2b;
  --active-color: #252a6a;
  --heading-font: 40px;
  --text-content-color: #647495;
}
body {
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
}
ul,
li {
  padding: 0px;
  margin: 0px;
}
.sec-top-bottom {
  padding: 100px 0px;
}
.title-head {
  font-size: var(--heading-font);
  color: var(--active-color);
  padding-bottom: 10px;
  margin-bottom: 0px;
}
.sub-title {
  font-size: 22px;
  color: #1145d5;
  padding-bottom: 10px;
}
.content {
  color: var(--text-content-color);
  font-size: 16px;
  line-height: 24px;
}
.heading_section {
  padding-bottom: 80px;
}
header.header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 3;
  background-color: var(--text-secondary);
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
  webkit-box-shadow: 4px 4px 30px 0 rgba(42, 67, 113, 0.15);
  -moz-box-shadow: 4px 4px 30px 0 rgba(42, 67, 113, 0.15);
  box-shadow: 4px 4px 30px 0 rgba(42, 67, 113, 0.15);
}
header.header nav.navbar {
  padding-top: 0px;
}
header.header nav {
  border-top: solid 5px;
  border-color: var(--color-primary);
}
header.header nav div.container a.navbar-brand.header-logo {
  width: auto;
  height: 80px;
}
header.header nav div.container a.navbar-brand.header-logo img {
  width: 125px;
  height: 125px;
}
header.header nav .header-main .header-top-contact ul {
  list-style: none;
  justify-content: end;
  display: flex;
}
header.header nav .header-main .header-top-contact ul li {
  padding: 10px 25px;
}
header.header nav .header-main .header-top-contact ul li a {
  text-decoration: none;
  color: var(--menu-font-color);
  font-family: 'Outfit';
  font-size: 16px;
  font-weight: 600;
  line-height: 0px;
}
header.header nav .header-main .header-top-contact ul li.head-franchies-btn {
  background: var(--color-primary);
}
header.header nav .header-main .header-top-contact ul li.head-franchies-btn a {
  font-size: 16px;
  color: var(--text-secondary);
  font-weight: 600;
}
header.header nav .header-top-bottom {
  padding: 10px 0px;
}
header.header nav .header-top-bottom ul li a.nav-link {
  font-size: 16px;
  font-weight: 600;
  color: var(--menu-font-color);
}
header.header nav .header-top-bottom ul li a.nav-link.active {
  color: var(--active-color);
}
section.hero-section {
  margin-top: calc(var(--header-height) + 0px);
  height: 100vh;
}
section.hero-section #carouselExample.carousel.slide {
  width: 100%;
  height: 100%;
}
section.hero-section #carouselExample.carousel.slide .carousel-inner {
  width: 100%;
  height: 100%;
}
section.hero-section #carouselExample.carousel.slide .carousel-inner .carousel-item.active {
  width: 100%;
  height: 100%;
}
section.hero-section #carouselExample.carousel.slide .carousel-inner .carousel-item.active img {
  width: 100%;
  height: 100%;
}
#sdt-eduction {
  background: var(--primary-background-color);
}
#sdt-eduction .container .row .col-md-7 h1 {
  font-size: var(--heading-font);
  color: var(--active-color);
}
#sdt-eduction .sdt-4block {
  background: var(--secondary-background-color);
  margin: 0px;
  border-radius: 5px;
}
#sdt-eduction .franchise-enquriy-from {
  padding: 20px;
  background: linear-gradient(to bottom right, #2667b3 0, #4d96ec 70%);
  border-radius: 10px;
  background: linear-gradient(to right, #36415e 0, #1b1f30 100%);
}
#sdt-eduction .franchise-enquriy-from h4 {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}
section.franchise-programs-sec .container .row .franchise-program {
  text-align: center;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
section.franchise-programs-sec .container .row .franchise-program h1 {
  color: #252a6a;
  font-size: 26px;
  padding: 0px 0px;
  margin-top: 17px;
}
section.franchise-programs-sec .container .row .franchise-program p {
  color: var(--text-content-color);
}
h1 {
  color: #252a6a;
  font-size: 26px;
  padding: 0px 0px;
  margin-top: 17px;
}
#newsletter .row.newsletter-part {
  background: linear-gradient(85.36deg, #A955DB 0.85%, #FF8648 101.42%);
  border-radius: 15px;
  padding: 10px 50px;
  background: var(--primary-background-color);
}
footer {
  background: #EAECEE;
}
footer .container .row .foorter-about ul li {
  display: inline-flex;
  list-style: none;
  margin-right: 10px;
}
footer .container .row .foorter-about ul li span {
  width: 35px;
  height: 35px;
  background: linear-gradient(to right, #36415e 0, #1b1f30 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
footer .container .row .foorter-about ul li span a {
  text-decoration: none;
}
footer .container .row .foorter-about ul li span a i {
  font: 30px;
  color: #fff;
}
footer a.footer_logo {
  width: auto;
  height: 70px;
  display: inline-block;
}
footer a.footer_logo img {
  width: auto;
  height: 100%;
}
footer .footer-links h5 {
  padding-top: 86px;
}
footer .footer-links ul {
  list-style: none;
}
footer .footer-links ul li {
  line-height: 30px;
}
footer .footer-links ul li a {
  text-decoration: none;
  color: #333;
}
footer .footer-links.contact h5 {
  padding-top: 86px;
}
footer .footer-links.contact ul {
  list-style: none;
}
footer .footer-links.contact ul li {
  position: relative;
  padding-left: 25px;
  line-height: 30px;
}
footer .footer-links.contact ul li span {
  position: absolute;
  top: 1px;
  left: 0px;
}
footer .footer-links.contact ul li span a {
  text-decoration: none;
  color: #333;
}
footer .footer-map ul li {
  list-style: none;
}
footer .footer-map ul li iframe {
  width: 100%;
  height: 307px;
  padding-top: 111px;
}
footer .footer-menu {
  padding-bottom: 20px;
}
footer .footer-menu ul li {
  display: inline-block;
  margin-right: 15px;
}
footer .footer-menu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}
.footer-copy-right {
  padding: 15px;
  background: #b5b5b5;
}
.footer-copy-right h6 {
  margin-bottom: 0px;
  color: #333;
}
.footer-copy-right .bottom_footer_link {
  text-align: end;
}
.footer-copy-right .bottom_footer_link a {
  text-decoration: none;
  margin-left: 20px;
  color: #333;
  font-weight: 500;
}
main {
  margin-top: 96px;
}
main section.contact-banner div.container div.row div.col-md-5 div.map-form {
  margin: 0px 40px 0px 20px;
  border: solid 1px #ccc;
  padding: 40px 49px;
  box-shadow: -1px 3px 15px 0 rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  border: 1px solid #eaecef;
}
main section.contact-banner div.container div.row div.col-md-5 div.map-form input {
  background: #f1f1f5 !important;
  border-radius: 7px !important;
  height: 45px;
  padding: 14px !important;
  border: solid 1px #ddd !important;
}
main section.contact-banner div.container div.row div.col-md-5 div.map-form textarea {
  border: solid 1px #ddd;
  background: #f1f1f5 !important;
  border-radius: 7px !important;
}
main section.contact-banner div.container div.row .school-map {
  width: 100%;
  height: 60%;
}
main section.contact-banner div.container div.row .school-map iframe {
  width: 100%;
  height: 100%;
}
main section.contact-info div.row div.contact-info-inner {
  text-align: center;
}
main section.contact-info div.row div.contact-info-inner .icon-box {
  display: flex;
  justify-content: center;
}
main section.contact-info div.row div.contact-info-inner .icon-box .shadow-icon {
  width: 75px;
  height: 75px;
  background: #16a085;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 6px 5px -1px rgba(22, 160, 133, 0.37);
}
main section.contact-info div.row div.contact-info-inner .icon-box .shadow-icon span i {
  font-size: 26px;
  color: #fff;
}
main section.conatact-hero-banner.sec-top-bottom {
  position: relative;
}
main section.conatact-hero-banner.sec-top-bottom {
  background-image: url(https://www.bvmsolution.com/images/contact-bg-banner.webp);
  background-size: 100%;
  background-position: center;
  padding: 180px 0px;
}
main section.conatact-hero-banner.sec-top-bottom:before {
  content: '';
  top: 0px;
  width: 100%;
  z-index: 1;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #191a1c94;
}
main .container {
  position: relative;
  z-index: 1;
}
main h1.text-white {
  font-weight: 600;
}
main h6.banner-text {
  color: #fff;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 20px;
}
section .container .row .carrer-form {
  margin-top: -150px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
section .container .row .carrer-form .CareerApply {
  margin-top: 5px;
  color: var(--active-color);
}
.about-page-banner img {
  width: 100%;
  height: 100%;
}
section.school-about .video-wrapper {
  width: 100%;
  height: 32  0px;
}
section.school-about .video-wrapper video {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
main section.management-team-hero.sec-top-bottom {
  position: relative;
}
main section.management-team-hero.sec-top-bottom {
  background-image: url(../image/about-banner.jpg );
  background-size: 100%;
  background-position: center;
  padding: 180px 0px;
}
main section.management-team-hero.sec-top-bottom:before {
  content: '';
  top: 0px;
  width: 100%;
  z-index: 1;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #191a1c94;
}
main .container {
  position: relative;
  z-index: 1;
}
main h1.text-white {
  font-weight: 600;
}
main h6.banner-text {
  color: #fff;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 20px;
}
main .director-sc.director-mt.sec-top-bottom {
  margin-top: 100px;
  background: #f9f8;
}
main .director-sc.director-mt.sec-top-bottom .profile-box {
  background: #f9f8f9;
  padding: 60px 0px;
  position: relative;
}
main .director-sc.director-mt.sec-top-bottom .profile-box .container row .image-outer-box {
  text-align: center;
  display: flex;
  justify-content: center;
}
main .director-sc.director-mt.sec-top-bottom .profile-box .container row .image-outer-box .img-box {
  border-radius: 50%;
  overflow: hidden;
  width: 280px;
  height: 280px;
  border: solid 2px #1145d5;
}
main .director-sc.director-mt.sec-top-bottom .profile-box .container row .image-outer-box .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .director-sc2 .profile-box2 {
  position: relative;
  background: #f9f8f9;
  position: 50px 0px;
  padding: 50px 0px;
}
main .director-sc2 .profile-box2 .container .row {
  flex-direction: row-reverse;
}
main .director-sc2 .profile-box2 .container .row .image-outer-box {
  text-align: center;
  display: flex;
  justify-content: center;
}
main .director-sc2 .profile-box2 .container .row .image-outer-box .img-box {
  border-radius: 50%;
  overflow: hidden;
  width: 280px;
  height: 280px;
  border: solid 2px #1145d5;
}
main .director-sc2 .profile-box2 .container .row .image-outer-box .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .director-sc2 .profile-box2::after {
  content: '';
  position: absolute;
  left: 15%;
  width: 50px;
  height: 100%;
  background-color: #382d71;
  top: 0;
}
main .director-sc2::before {
  content: '';
  position: absolute;
  left: 0px;
  width: 84%;
  height: 100%;
  background-color: #382d71;
  top: 0px;
}
main .director-sc.sec-top-bottom {
  position: relative;
}
main .director-sc.sec-top-bottom .profile-box {
  background: #f9f8f9;
  padding: 60px 0px;
  position: relative;
}
main .director-sc.sec-top-bottom .profile-box .container row .image-outer-box {
  text-align: center;
  display: flex;
  justify-content: center;
}
main .director-sc.sec-top-bottom .profile-box .container row .image-outer-box .img-box {
  border-radius: 50%;
  overflow: hidden;
  width: 280px;
  height: 280px;
  border: solid 2px #1145d5;
}
main .director-sc.sec-top-bottom .profile-box .container row .image-outer-box .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .director-sc.sec-top-bottom::before {
  content: '';
  position: absolute;
  right: 0;
  width: 84%;
  height: 100%;
  background-color: #382d71;
  top: 0;
}
section.director-sc.director-mt.sec-top-bottom {
  margin-top: 100px;
  background: #f9f8f9;
}
section.director-sc.sec-top-bottom {
  padding: 50px 0px;
}
section.director-sc.sec-top-bottom:before {
  content: '';
  position: absolute;
  right: 12%;
  width: 73%;
  height: 100%;
  background-color: #382d71;
  top: 0;
}
.profile-box {
  background: #f9f8f9;
  padding: 60px 0px;
  position: relative;
}
.profile-box:after {
  content: '';
  position: absolute;
  right: 12%;
  width: 50px;
  height: 100%;
  background-color: #382d71;
  top: 0;
}
section.director-sc2 {
  position: relative;
  background: #f9f8f9;
  padding: 50px 0px;
  margin: -50px 0px;
}
section.director-sc2:before {
  content: '';
  position: absolute;
  left: 15%;
  width: 73%;
  height: 100%;
  background-color: #382d71;
  top: 0px;
}
.img-box {
  border-radius: 50%;
  overflow: hidden;
  width: 280px;
  height: 280px;
  border: solid 2px #1145d5;
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-outer-box {
  text-align: center;
  display: flex;
  justify-content: center;
}
section.mission-hero {
  background-image: url(../image/about-banner.jpg );
  background-size: 100%;
  background-position: center;
  padding: 180px 0px;
  position: relative;
}
section.mission-hero::before {
  content: '';
  top: 0px;
  width: 100%;
  z-index: 1;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #191a1c94;
}
main {
  /* code */
}
main section.our-achivement-hero-banner.sec-top-bottom {
  position: relative;
}
main section.our-achivement-hero-banner.sec-top-bottom {
  background-image: url(../image/banner2.jpg);
  background-size: 100%;
  background-position: center;
  padding: 180px 0px;
}
main section.our-achivement-hero-banner.sec-top-bottom:before {
  content: '';
  top: 0px;
  width: 100%;
  z-index: 1;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #191a1c94;
}
main .container {
  position: relative;
  z-index: 1;
}
main h1.text-white {
  font-weight: 600;
}
main h6.banner-text {
  color: #fff;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 20px;
}
main .btn-text-expander {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 14px;
  border-radius: 3px;
  background-color: #665aef;
  color: #fff;
}
main .text-expander {
  height: 70px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
main .text-expander.active {
  display: inherit;
  height: auto;
}
main section.sport-hero-banner.sec-top-bottom {
  position: relative;
}
main section.sport-hero-banner.sec-top-bottom {
  background-image: url(../image/banner2.jpg);
  background-size: 100%;
  background-position: center;
  padding: 180px 0px;
}
main section.sport-hero-banner.sec-top-bottom:before {
  content: '';
  top: 0px;
  width: 100%;
  z-index: 1;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #191a1c94;
}
main .container {
  position: relative;
  z-index: 1;
}
main h1.text-white {
  font-weight: 600;
}
main h6.banner-text {
  color: #fff;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 20px;
}
main {
  /* code */
}
main section.our-achivement-hero-banner.sec-top-bottom {
  position: relative;
}
main section.our-achivement-hero-banner.sec-top-bottom {
  background-image: url(../image/academic-banner.jpg);
  background-size: 100%;
  background-position: center;
  padding: 180px 0px;
}
main section.our-achivement-hero-banner.sec-top-bottom:before {
  content: '';
  top: 0px;
  width: 100%;
  z-index: 1;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #191a1c94;
}
main .container {
  position: relative;
  z-index: 1;
}
main h1.text-white {
  font-weight: 600;
}
main h6.banner-text {
  color: #fff;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 20px;
}
main .affiliation-sec {
  background-color: var(--primary-background-color);
}
main .affiliated-img {
  text-align: end;
}
main .btn-text-expander {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 14px;
  border-radius: 3px;
  background-color: #665aef;
  color: #fff;
}
main .text-expander {
  height: 70px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
main .text-expander.active {
  display: inherit;
  height: auto;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: end;
  }
}
