:root {
    --color-primary: #16a085;
    --color-secondary: #bd771b;
    --color-accent: #521683;
    --text-primary: #333333;
    --text-secondary: #ffffff;
    --header-height: 80px;
    --primary-background-color: #f2f2f2;
    --secondary-background-color: #ccc;



  }
  
  body {
    font-family: inter, sans-serif;
    box-sizing: border-box;
  }
  ul, li{
    padding:0px;
    margin: 0px;
}
.sec-top-bottom{
    padding: 100px 0px;
}


// herder css start 
header.header{
    
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 3;
        background-color: var(--text-secondary);
        -webkit-transition: all ease-out .5s;
        -moz-transition: all ease-out .5s;
        -o-transition: all ease-out .5s;
        transition: all ease-out .5s;
        
        webkit-box-shadow: 4px 4px 30px 0 rgba(42,67,113,.15);
    -moz-box-shadow: 4px 4px 30px 0 rgba(42,67,113,.15);
        box-shadow: 4px 4px 30px 0 rgba(42,67,113,.15);
        // &.header.active {
        //     background-color:#afafaf;
        //     color: var(--text-secondary) !important;
        //     box-shadow: 0 3px 5px 0.3px rgba(0,0,0,0.1);
      
        //   }


    
 
    nav.navbar{
        padding-top: 0px;
    }
    nav{
        border-top: solid 5px;
        border-color: var(--color-primary);
       
        div.container{
            a.navbar-brand.header-logo{
                width: auto;
                height: 80px;
                img{
                    width: 150px;
                    height: 150px;
                }
            }
        }
   
        .header-main{
            .header-top-contact{
                ul{
                    list-style: none;
                    list-style: none;
                    justify-content: end;
                    display: flex;
                    li { 
                        padding: 10px 25px;
                       a{
                        text-decoration: none;
                        color: #333333;
                       }
                    }
                    li.head-franchies-btn{
                        background: var(--color-primary);
                      a{
                          color: var(--text-secondary);
                          font-weight: 600;
                      } 
                    }
                }
            }
        }
    }
}
// header section end
// hero section start 
    section.hero-section{
        margin-top: calc(var(--header-height) + 0px);
        height: 100vh;
        #carouselExample.carousel.slide {
            width: 100%;
            height: 100%;
            .carousel-inner{
                width: 100%;
                height: 100%;
                .carousel-item.active{
                    width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
       
    }

// sdt-eduction
#sdt-eduction {
    background: var(--primary-background-color);

    .sdt-4block{
        background: var(--secondary-background-color);
        margin: 0px;
        border-radius: 5px;
    }
    .franchise-enquriy-from{
        padding: 20px;
        background: linear-gradient(to bottom right,#2667b3 0,#4d96ec 70%);
        border-radius: 10px;
    }

}

// news letter section

#newsletter{
   
    .row.newsletter-part{

        background: linear-gradient(85.36deg,#A955DB 0.85%,#FF8648 101.42%);
        border-radius: 15px;
        padding: 10px 50px;
    }

}

// footer section start

footer{
    // background: var(--color-primary);
    background: var(--primary-background-color);
   
      
                a.footer_logo{
                    width: auto;
                    height: 70px;
                    display: inline-block;
                    img{
                        width: auto;
                        height: 100%;
                    }
                }
            
        }
   



// contact us page css

        main{
            margin-top: 96px;
            section.contact-banner{
                div.container{
                    div.row{
                        div.col-md-5{
                            div.map-form {
                                margin: 0px 40px 0px 20px;
                                border: solid 1px #ccc;
                                padding: 40px 49px;
                                box-shadow: -1px 3px 15px 0 rgba(0,0,0,.06);
                                border-radius: 6px;
                                border: 1px solid #eaecef;
                                input {
                                    background: #f1f1f5 !important;
                                    border-radius: 7px !important;
                                    height: 45px;
                                    padding: 14px !important;
                                
                                    border: solid 1px #ddd !important;
                                }
                                textarea {
                                    border: solid 1px #ddd;
                                    background: #f1f1f5 !important;
                                    border-radius: 7px !important;
                                }
                            }
                        }
                        .school-map {
                            width: 100%;
                            height: 90%;
                            iframe {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    // div.row{
                    //     div.contact-info-inner{
                    //         padding: 20px;
                    //         text-align: center;
                    //         .icon-box {
                    //             display: flex;
                    //             justify-content: center;
                    //             .shadow-icon {
                    //                 width: 75px;
                    //                 height: 75px;
                    //                 background: #16a085;
                    //                 border-radius: 50%;
                    //                 display: flex;
                    //                 align-items: center;
                    //                 justify-content: center;
                    //                 box-shadow: 0px 6px 5px -1px rgba(22,160,133,0.37);
                    //             span{
                    //                 i{
                    //                 font-size: 26px;
                    //                 color: #fff;
                    //                 }
                    //             }
                    //             }
                    //         }
                    //     }
                    // }

                }

            }
            section.contact-info{
                div.row{
                    div.contact-info-inner{
                        padding: 20px;
                        text-align: center;
                        .icon-box {
                            display: flex;
                            justify-content: center;
                            .shadow-icon {
                                width: 75px;
                                height: 75px;
                                background: #16a085;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                box-shadow: 0px 6px 5px -1px rgba(22,160,133,0.37);
                            span{
                                i{
                                font-size: 26px;
                                color: #fff;
                                }
                            }
                            }
                        }
                    }
                }
            }
        }

        section.conatact-hero-banner.sec-top-bottom {
            position: relative;
        }
        section.conatact-hero-banner.sec-top-bottom {
            background-image: url(https://www.bvmsolution.com/images/contact-bg-banner.webp);
            background-size: 100%;
            background-position: center;
            padding: 180px 0px;
        }
        section.conatact-hero-banner.sec-top-bottom:before {
            content: '';
            top: 0px;
            width: 100%;
            z-index: 1;
            height: 100%;
            position: absolute;
            left: 0;
            background-color: #191a1c94;
        }
        .container {
            position: relative;
            z-index: 1;
        }
        h1.text-white {
            font-weight: 600;
        }
        h6.banner-text {
            color: #fff;
            line-height: 30px;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 2px;
            margin-top: 20px;
        }

// main {
//     margin-top: 90px;
// }

// .contact-page-form {
//     display: block;
//     padding: 40px;
//     border: 1px solid #eaecef;
//     -webkit-box-shadow: -1px 3px 15px 0 rgba(0,0,0,.06);
//     box-shadow: -1px 3px 15px 0 rgba(0,0,0,.06);
//     border-radius: 6px;
//     width: 100%;
//     max-width: 380px;
//     margin: 0 auto;
//     text-align: left;
// }
// .map-form {
//     margin: 0px 40px 0px 20px;
//     border: solid 1px #ccc;
//     padding: 40px 49px;
//     box-shadow: -1px 3px 15px 0 rgba(0,0,0,.06);
//     border-radius: 6px;
//     border: 1px solid #eaecef;
// }

// .shadow-icon {
//     width: 75px;
//     height: 75px;
//     background: #16a085;
//     border-radius: 50%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     box-shadow: 0px 6px 5px -1px rgba(22,160,133,0.37);
// }

// .shadow-icon span i {
//     font-size: 26px;
//     color: #fff;
// }

// .icon-box {
//     display: flex;
//     justify-content: center;
// }
// .contact-info-inner {
//     /* border: solid 1px #ccc; */
//     padding: 20px;
//     text-align: center;
//     // box-shadow: -1px 3px 15px 0 rgba(0, 0, 0, 0.06);
//     // border-radius: 6px;
//     // border: 1px solid #eaecef;
// }
// input {
//     background: #f1f1f5 !important;
//     border-radius: 7px !important;
//     height: 45px;
//     padding: 14px !important;

//     border: solid 1px #ddd !important;
// }
// textarea#exampleFormControlTextarea1 {
//     border: solid 1px #ddd;
//     background: #f1f1f5 !important;
//     border-radius: 7px !important;
// }
@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        justify-content: end;
    }
}
